/* Header.css */

header {
  display: flex;
  align-items: center; /* Center content vertically */
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
}

.container {
  display: flex;
  align-items: center;
}

div {
  float: left;
  clear: left;
  height: 125px;
  width: 100%;
}

h1 {
  border: 4%;
  margin-right: 20px;
}

p {
  margin-right: 10px;
}

button {
  background-color: rgb(48, 108, 228);
  color: white;
  border-radius: 2%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}