/* Header.css */

header {
    background-color: #d1bcbc84; /* Adjust background color as needed */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center content vertically */
    margin:0 auto;
    width:1000px;
}

.container {
  display: flex;
  align-items: center;
}

div {
  float: left;
  clear: left;
  height: 125px;
  width: 100%;
}

h1 {
  margin-right: 20px;
}

p {
  margin-right: 10px;
}

button {
  background-color: #4CAF50; /* Adjust button color as needed */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}